@mixin flex($hov: space-between, $col: center) {
  display: flex;
  justify-content: $hov;
  align-items: $col;
}
@mixin bgImg($w:0, $h:0, $url:'', $size:contain) {
  display: inline-block;
  width: $w;
  height: $h;
  background: url($url) no-repeat center;
  background-size: $size;
}
